.friend_wrap {
    display: flex;
}
.friend_wrap img {
    width: 40px;
    height: 40px;
    border-radius: 25px;
}
.name {
    margin-top: 15px;
    margin-left: 10px;
    color: white;
}
.friends {
    margin-top: 5px;
}