.nav {
  grid-area: n;
  background-color: #328fe3;
  padding-left: 15px;
  padding-top: 10px;
}
.item {
    color: white;
    cursor: pointer;
}
.nav a {
  text-decoration: none;
  color: white;
}
a.activepage {
  color: #42ff57;
}
.all_friends_wrap {
  margin-bottom: 20px;
}