.nav {
  grid-area: n;
  background-color: burlywood;
}
.item {
    color: white;
    cursor: pointer;
}
.nav a {
  text-decoration: none;
  color: white;
}
a.activepage {
  color: gold;
}
.all_friends_wrap {
  margin-bottom: 20px;
}